<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>AngularJS指令实现CSS框架</title>
    <link rel="stylesheet" href="https://cdnjs.c2cbc.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.c2cbc.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="//2947721120.github.io/angular-materialize/css/style.css">
    <link href="https://font.c2cmalls.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.c2cbc.com/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.c2cmalls.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.c2cbc.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.c2cbc.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script type="text/javascript" src="//2947721120.github.io/angular-materialize/src/angular-materialize.js"></script>

    <!--只为颜色选择器 -->
    <script type="text/javascript" src="http://2947721120.github.io/angular-materialize/js/materialize.clockpicker.js"></script>
    <link rel="stylesheet" href="http://2947721120.github.io/angular-materialize/css/materialize.clockpicker.css">

    <!-- App -->
    <script type="text/javascript" src="http://2947721120.github.io/angular-materialize/js/app.js"></script>
</head>
<body ng-app="materializeApp" ng-controller="BodyController">
<header>
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-closeonclick="false"><i
            class="mdi-navigation-menu"></i></a></div>
    <ul id="nav-mobile" class="side-nav fixed">
        <!--Maybe a logo?-->
        <!--<li class="logo" style="margin-left: -15px;"><a id="logo-container" href="http://materializecss.com/"class="brand-logo"><h3></h3></a></li>-->
        <li class="bold"><a href="#about" class="waves-effect waves-teal">关于角物质化</a></li>
        <li class="bold"><a href="#getting-started" class="waves-effect waves-teal">入门</a></li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">表单元素</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#input-field">输入场</a></li>
                            <li><a href="#input-date">输入日期</a></li>
                            <li><a href="#input-clock">输入时钟</a></li>
                            <li><a href="#select">材料选择</a></li>
                            <li><a href="#range">范围选择</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">JavaScript</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#collapsible">可折叠</a></li>
                            <li><a href="#toast">对话框 - 吐司</a></li>
                            <li><a href="#tooltip">提示</a></li>
                            <li><a href="#pushpin">图钉</a></li>
                            <li><a href="#dropdown">落下</a></li>
                            <li><a href="#modals">礼貌</a></li>
                            <li><a href="#parallax">视差</a></li>
                            <li><a href="#scrollfire">消防滚动</a></li>
                            <li><a href="#sidenav">侧导航</a></li>
                            <li><a href="#slider">滑块</a></li>
                            <li><a href="#media">媒体</a></li>
                            <li><a href="#tabs">标签</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">组件</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#pagination">分页</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>
<main>
    <div class="section" id="index-banner">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header center-on-small-only"><a href="https://github.com/kresCruz/angular-materialize" style="color:white;">角物质化</a></h1>
                    <p style="color: white;" class="center-on-small-only">这是在使用功能简单的角指令的集合<a href="http://materializecss.com">materializecss</a>。</p>
                </div>
            </div>
        </div>
    </div>
 <div class="container">
        <div class="row" id="about">
            <h2 class="header">关于角物质化</h2>
            <p>如果你想使用这个插件是对您有用<a href="http://materializecss.com/">兑现UI框架</a>具有角。</p>
            <p>它包含了一些指令，这可以确保在materialize.js的组件，主要在初始化文件准备好，由角以正确的方式来处理。</p><p>
            </p><p>因此，它是没有实现一个完全重写。并因此它依赖于jQuery的，因为兑现取决于jQuery的。</p>
            <p>下面是一个小例子，让你开始，而文档，它们包含在这个插件。指令以下<br>
                物质化的某些部分，如CSS框架，不需要任何额外的东西在角范围内的工作，他们是因此在此范围之内。<br>
                在物化的功能这还没有与角物质化工作名单可以发现<a href="https://github.com/krescruz/angular-materialize/blob/master/README.md#missing-features">在Github上的自述</a>。
            </p>
        </div>

        <div class="row" id="getting-started">
            <h2 class="header">入门</h2>
            <p>这个插件和所有的依赖托管在CDN的，这使得安装容易的。<br>
                为了得到一个小例子，启动和运行，复制到下面的index.html和app.js：</p>
            <pre><code class="language-markup" ng-non-bindable>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;最小的例子&lt;/title&gt;

    &lt;!-- Materialize CSS --&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.c2cbc.com/ajax/libs/materialize/0.97.6/css/materialize.min.css&quot;&gt;

    &lt;!--JavaScript进行：jQuery的，棱角分明，兑现和角实现。所有这一切都需要. --&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.c2cmalls.com/jquery/2.2.3/jquery.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://ajax.c2cmalls.com/ajax/libs/angularjs/1.5.5/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.c2cbc.com/ajax/libs/materialize/0.97.6/js/materialize.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.c2cbc.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.min.js&quot;&gt;&lt;/script&gt;

    &lt;!-- Your app --&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;app.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app=&quot;materializeApp&quot; ng-controller=&quot;BodyController&quot;&gt;
&lt;main&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;section col s4&quot;&gt;
                &lt;div input-field&gt;
                    &lt;select ng-model=&quot;select.value&quot; material-select&gt;
                        &lt;option ng-repeat=&quot;value in select.choices&quot;&gt;{{value}}&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;section col s8&quot;&gt;
                &lt;h5&gt;你所选择的: &lt;b&gt;{{select.value}}&lt;/b&gt;&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/main&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

<pre><code class="language-javascript" ng-non-bindable>var app = angular.module('materializeApp', ['ui.materialize'])
    .controller('BodyController', [&quot;$scope&quot;, function ($scope) {
        $scope.select = {
            value: &quot;Option1&quot;,
            choices: [&quot;Option1&quot;, &quot;我是一个选择&quot;, &quot;这是实现&quot;, &quot;不，这是帕特里克.&quot;]
        };
    }]);</code></pre>
        </div>

        <div class="row" id="input-field">
            <h2 class="header">输入场</h2>
            <p>物化使用类。输入场管理动画标签和输入字段。但是，当角动态创建元素不能正常工作</p>
            <p>而不是添加类输入字段，使用输入字段指令。这样，它仍然有效时，角动态创建它。</p>
            <p>只是在实现，如果添加的长度属性，字符计数器将出现（在下面的长度被设定为150）。 </p>
            <p>在 <code class="language-markup" data-language="markup">input</code> 或 <code class="language-markup" data-language="markup">textarea</code>(富文本)标签必须与输入字段标签元素的直接子。 </p>
        </div>
        <div class="row" ng-init="showInputLabel = true;dummyInputs.inputFieldInput = 'This is input'; dummyInputs.textAreaInput = 'Textareas \ncan\ncontain\nmultiple\nlines';">
            <div class="col s2">
                <a class="btn waves-effect waves-light" ng-click="showInputLabel = !showInputLabel">切换输入</a>
            </div>
            <div class="col s4" ng-if="showInputLabel">
                <div input-field>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                    <label>输入标签</label>
                </div>
            </div>
            <div class="col s3" ng-if="showInputLabel">
                <div input-field>
                    <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
                    <label>多行文本</label>
                </div>
            </div>
            <div class="col s3" ng-if="showInputLabel">
                <div input-field>
                    <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
                    <label>同步的富文本</label>
                </div>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div input-field&gt;
    &lt;input type="text" ng-model="dummyInputs.inputFieldInput" length="150"&gt;
    &lt;label&gt;输入标签&lt;/label&gt;
&lt;/div&gt;
&lt;div input-field&gt;
    &lt;textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"&gt;&lt;/textarea&gt;
    &lt;label&gt;富文本&lt;/label&gt;
&lt;/div&gt;</code></pre>
        </div>
        <div class="row">
            <p>你也可以使用它作为一个元素，而不是一个属性。</p>
<pre><code class="language-markup" ng-non-bindable>
&lt;input-field&gt;
    &lt;input type="text" ng-model="dummyInputs.inputFieldInput"&gt;
    &lt;label&gt;输入标签&lt;/label&gt;
&lt;/input-field&gt;
    &lt;input-field&gt;
    &lt;textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"&gt;&lt;/textarea&gt;
    &lt;label&gt;Textarea&lt;/label&gt;
&lt;/input-field&gt;</code></pre>
        </div>


        <div class="row" id="input-date">
            <h2 class="header">输入日期</h2>
            <p>下面的例子是那里有所有选项的值，但所有的选项都是可选的。 </p>
            <p>属性 <code class="language-markup" data-language="markup">min</code>最小 和 <code class="language-markup" data-language="markup">max</code>最大 可表示日期的任何值。它应该是通过识别的格式 <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date" target="_blank" title="日期 - JavaScript | MDN">日期构造函数</a>.</p>
        </div>
        <div class="row" ng-controller="DateController">
            <label for="inputCreated">输入日期</label>
            <input input-date
                   type="text"
                   name="created"
                   id="inputCreated"
                   ng-model="currentTime"
                   container="body"
                   format="dd/mm/yyyy"
                   months-full="{{ month }}"
                   months-short="{{ monthShort }}"
                   weekdays-full="{{ weekdaysFull }}"
                   weekdays-short="{{ weekdaysShort }}"
                   weekdays-letter="{{ weekdaysLetter }}"
                   disable="disable"
                   min="{{ minDate }}"
                   max="{{ maxDate }}"
                   today="today"
                   clear="clear"
                   close="close"
                   select-years="15"
                   on-start="onStart()"
                   on-render="onRender()"
                   on-open="onOpen()"
                   on-close="onClose()"
                   on-set="onSet()"
                   on-stop="onStop()" />
        </div>
        <div class="row">
            <p>在HTML代码</p>
<pre><code class="language-markup" ng-non-bindable>&lt;label for="inputCreated"&gt;输入日期&lt;/label&gt;
&lt;input input-date
    type="text"
    name="created"
    id="inputCreated"
    ng-model="currentTime"
    container="body"
    format="dd/mm/yyyy"
    months-full="{{ month }}"
    months-short="{{ monthShort }}"
    weekdays-full="{{ weekdaysFull }}"
    weekdays-short="{{ weekdaysShort }}"
    weekdays-letter="{{ weekdaysLetter }}"
    disable="disable"
    min="{{ minDate }}"
    max="{{ maxDate }}"
    today="today"
    clear="clear"
    close="close"
    select-years="15"
    on-start="onStart()"
    on-render="onRender()"
    on-open="onOpen()"
    on-close="onClose()"
    on-set="onSet()"
    on-stop="onStop()" /&gt;</code></pre>
            <p>和JavaScript控制器</p>
            <pre><code class="language-javascript">var currentTime = new Date();
$scope.currentTime = currentTime;
$scope.month = ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'];
$scope.monthShort = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
$scope.weekdaysFull = ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'];
$scope.weekdaysLetter = ['日', '一', '二', '三', '四', '五', '六'];
$scope.disable = [false, 1, 7];
$scope.today = '今天';
$scope.clear = '明确';
$scope.close = '关';
var days = 15;
$scope.minDate = (new Date($scope.currentTime.getTime() - ( 1000 * 60 * 60 *24 * days ))).toISOString();
$scope.maxDate = (new Date($scope.currentTime.getTime() + ( 1000 * 60 * 60 *24 * days ))).toISOString();
$scope.onStart = function () {
    console.log('onStart');
};
$scope.onRender = function () {
    console.log('onRender');
};
$scope.onOpen = function () {
    console.log('onOpen');
};
$scope.onClose = function () {
    console.log('onClose');
};
$scope.onSet = function () {
    console.log('onSet');
};
$scope.onStop = function () {
    console.log('onStop');
};</code></pre>
        </div>



        <div class="row" id="input-clock">
            <h2 class="header">输入时钟</h2>
            <p>这是围绕着做了一个包装<a href="https://github.com/chingyawhao/materialize-clockpicker">由chingyawhao取得物质化，时钟选择器</a></p>
            <p>捆绑的JavaScript只包括包装JavaScript和这个工作，你需要包括来自JavaScript和CSS <a href="https://github.com/chingyawhao/materialize-clockpicker">物质化，时钟选择器</a></p>
            <p>此包装的选项相同的原始物质化，时钟选择器的选项。 </p>
            <p>下面是一个小例子，其中该选项<code class=" language-markup" data-language="markup">twelvehour</code>12小时| 已被设置为假 </p>
        </div>
        <div class="row">
            <label for="input_starttime">时间</label>
            <input id="input_starttime" input-clock data-twelvehour="false" type="text">
        </div>
        <div class="row">
            <pre><code class="language-markup" ng-non-bindable>
&lt;label for=&quot;input_starttime&quot;&gt;Time&lt;/label&gt;
&lt;input id=&quot;input_starttime&quot; input-clock data-twelvehour=&quot;false&quot; type=&quot;text&quot;&gt;</code></pre>
        </div>


        <div class="row" id="select">
            <h2 class="header">材料选择</h2>
            <p>添加材料的选择要在其中材料选择选择属性。</p>
            <p>如果您添加类浏览器默认没有必要的。</p>
            <p>它不支持在选择改变的内容，如果你想要的添加类浏览器的默认值。</p>
            <p>如果您添加属性<code class=" language-markup" data-language="markup">watch</code>表, 然后将材料选择将重新初始化，只要东西中选择内容的变化。 <br />
                这包括如果list元素的数量变化。<br>
                但要注意，虽然执行的作品，它是计算非常重，所以小心行事。</p>
        </div>
        <div class="row">
            <div class="section col s4">
                <div input-field>
                    <select class="" ng-model="select.value1" material-select watch>
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="section col s8">
                <h5>您已选择: <b>{{select.value1}}</b></h5>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div input-field&gt;
    &lt;select class="" ng-model="select.value1" material-select watch&gt;
        &lt;option ng-repeat="value in select.choices"&gt;{{value}}&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row">
            <h5>多重选择</h5>
            <div class="section col s4">
                <div input-field>
                    <select class="" ng-model="select.value3" material-select multiple watch>
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="section col s8">
                <h5>您选择: <b>{{select.value3}}</b></h5>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div input-field&gt;
    &lt;select class="" ng-model="select.value3" material-select multiple watch&gt;
        &lt;option ng-repeat="value in select.choices"&gt;{{value}}&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;</code></pre>
        </div>


        <div class="row">
            <h5>使用类浏览器默认</h5>
            <div class="section col s4">
                <div input-field>
                    <select class="browser-default" ng-model="select.value2">
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="section col s8">
                <h5>您选择了: <b>{{select.value2}}</b></h5>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div input-field&gt;
    &lt;select class="browser-default" ng-model="select.value2"&gt;
        &lt;option ng-repeat="value in select.choices"&gt;{{value}}&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row" id="range">
          <h2 class="header">范围 -  noUiSlider</h2>
          <p>您可以使用HTML5元素的范围，而不需要使用指令或额外的JavaScript。如果你想使用noUiSlider jQuery插件，附带materializecss，你需要包括<a href="https://cdnjs.com/libraries/noUiSlider">noUiSlider的JS和CSS文件</a>，并使用<code class=" language-markup" data-language="markup">nouislider</code>指令。<br>

              you'll need to include <a href="https://cdnjs.com/libraries/noUiSlider">无UI滑块JS和CSS文件</a> 并使用 <code class="language-markup" data-language="markup">nouislider</code>指令. <br />
<pre><code class="language-markup" ng-non-bindable>
&lt;div nouislider ng-model="value" min="5" max="300"&gt;&lt;/div&gt;
</code></pre>
        <p>See <a href="http://refreshless.com/nouislider/slider-options/">无UI滑块文档</a> 对于如何使用它。支持的配置选项有：ngModel（必需），最小值，最大值，步骤，连接和工具提示.
          </ul>
        </div>

        <div class="row" id="collapsible">
            <h2 class="header">可折叠</h2>
            <p>下面的可折叠使用填充NG重复，只是为了表明它是可能的。你也可以手动将在内容。</p>
            <p>在下面的的弹出类添加，这让“谷歌的收件箱”的效果。只是删除的弹出类来获得一个正常的手风琴。</p>
            <p>因为这仅仅是为物化可折叠的包装，<a href="http://materializecss.com/collapsible.html">其所有的定制</a>可以使用。</p>
            <p>如果您添加属性<code class="language-markup" data-language="markup">表</code>，那么可折叠将重新初始化，只要东西在可折叠中的内容发生变化。<br>
                这包括如果list元素的数量变化。<br>
                但要注意，虽然执行的作品，它是在计算很重，所以小心行事。</p>
            <a class="btn waves-effect waves-light" ng-init="showCollapsible = true" ng-click="showCollapsible = !showCollapsible">显示/隐藏可折叠下方</a>
        </div>
        <div class="row" ng-controller="CollapsibleController" ng-if="showCollapsible">
            <ul class="collapsible popout" data-collapsible="accordion" watch>
                <li ng-repeat="single in collapsibleElements">
                    <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
                    <div class="collapsible-body"><p>{{single.content}}</p></div>
                </li>
            </ul>
        </div>
        <div class="row">
            <p>在HTML代码</p>
<pre><code class="language-markup" ng-non-bindable>&lt;ul class="collapsible popout" data-collapsible="accordion" watch&gt;
    &lt;li ng-repeat="single in collapsibleElements"&gt;
        &lt;div class="collapsible-header"&gt;&lt;i class="{{single.icon}}"&gt;&lt;/i&gt;{{single.title}}&lt;/div&gt;
        &lt;div class="collapsible-body"&gt;&lt;p&gt;{{single.content}}&lt;/p&gt;&lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            <p>在控制器的JavaScript</p>
<pre><code class="language-javascript">$scope.collapsibleElements = [{
        icon: 'mdi-image-filter-drama',
        title: '第一',
        content: 'Lorem ipsum dolor sit amet.'
    },{
        icon: 'mdi-maps-place',
        title: '第二',
        content: 'Lorem ipsum dolor sit amet.'
    },{
        icon: 'mdi-social-whatshot',
        title: '第三',
        content: 'Lorem ipsum dolor sit amet.'
    }
];</code></pre>

        </div>


        <div class="row" id="toast">
            <h2 class="header">祝酒词</h2>
            <p>物化敬酒是一个全球性的功能。使用这个指令，你可以使用自定义事件（在下面点击）调用敬酒，并显示在该范围内的变量决定的消息。<br>
            通过消息属性指定的消息，并且持续时间设置，虽然持续时间属性（默认为3000ms如果没有设置）。</p>
        </div>
        <div class="row" ng-controller="ToastController">
            <div class="col s4" input-field>
                <input id="message" type="text" ng-model="dummyInputs.message" ng-init="dummyInputs.message = '我的消息'">
                <label for="message">信息</label>
            </div>
            <div class="col s2" input-field>
                <input id="toastDuration" type="text" ng-model="dummyInputs.duration" ng-init="dummyInputs.duration = 1000">
                <label for="toastDuration">显示时间</label>
            </div>
            <div class="input-field col s4">
                <a class="waves-effect waves-light btn" message="{{dummyInputs.message}}" duration="{{dummyInputs.duration}}" callback="callback('你的烤面包被触发了')" toast='click'>干杯!</a>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;div class="row"&gt;
    &lt;div class="col s4" input-field&gt;
        &lt;input id="message" type="text" ng-model="dummyInputs.message" ng-init="dummyInputs.message = '我的消息"&gt;
        &lt;label for="message"&gt;Message&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="col s2" input-field&gt;
        &lt;input id="toastDuration" type="text" ng-model="dummyInputs.duration" ng-init="dummyInputs.duration = 1000"&gt;
        &lt;label for="toastDuration"&gt;烤面包的时间&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="input-field col s4"&gt;
        &lt;a class="waves-effect waves-light btn" message="{{dummyInputs.message}}" duration="{{dummyInputs.duration}}" toast='click'&gt;干杯!&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
        <div class="row" id="tooltip">
            <h2 class="header">工具提示(Tooltip)</h2>
            <p>在下面的tooltipped属性确保jQuery插件运行.<br />
                您可以设置属性的标签，匹配在materializecss版本的选项名称。
            </p>
            <div class="col s4" ng-init="showTooltip = true">
                <a class="btn waves-effect waves-light" ng-click="showTooltip = !showTooltip" style="margin-bottom: 10px;">切换按钮</a>
            </div>
            <div class="col s8" ng-if="showTooltip">
                <!--数据位置可以是：底部，顶部，左边或右边-->
                <!--数据延迟控制工具提示显示延迟时间（毫秒）-->
                <a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="bottom" data-delay="50" data-tooltip="我是tooltip"> 底部(data-position="bottom")</a>
                <a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="top" data-delay="150" data-tooltip="我是 tooltip">顶部(data-position="top")</a>
                <a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="left" data-delay="250" data-tooltip="我是 tooltip"> 左侧(data-position="left")</a>
                <a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="right" data-delay="550" data-tooltip="我是 tooltip"> 右侧(data-position="right")</a>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;div class="col s8" ng-if="showTooltip"&gt;
    &lt;!-- 数据位置可以是：底部，顶部，左边或右边 --&gt;
    &lt;!--数据延迟控制工具提示显示延迟时间（毫秒）--&gt;
    &lt;a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="bottom" data-delay="50" data-tooltip="我是 tooltip"&gt; Bottom&lt;/a&gt;
    &lt;a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="top" data-delay="150" data-tooltip="我是 tooltip"&gt; Top&lt;/a&gt;
    &lt;a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="left" data-delay="250" data-tooltip="我是 tooltip"&gt; Left&lt;/a&gt;
    &lt;a tooltipped class="btn col s4 offset-s4 l2 offset-l1" data-position="right" data-delay="550" data-tooltip="我是 tooltip"&gt; Right&lt;/a&gt;
&lt;/div&gt;</code></pre>
        </div>
        <div class="row" id="pushpin">
            <h2 class="header">图钉</h2>
            <p>该 <code class=" language-markup" data-language="markup">pushpin</code> 属性允许你对一个特定元素固定在页面的顶部.</p>
            <p>您可以使用 <code class=" language-markup" data-language="markup">pushpin-top</code> 归因于从其中元件被固定在网页的顶部限定像素距离。在<code class=" language-markup" data-language="markup">pushpin-offset</code>属性可以用来抵消顶部的距离。在 <code class=" language-markup" data-language="markup">pushpin-bottom</code>属性可用于设置在载有元件停止固定页面的顶部的像素的距离。</p>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div class=&quot;sidebar&quot; pushpin pushpin-top=&quot;0&quot; pushpin-offset=&quot;0&quot; pushpin-bottom=&quot;Infinity&quot;&gt;
  &lt;ul id=&quot;sidebarMenu&quot; class=&quot;menu&quot;&gt;
    &lt;li&gt;项目 1&lt;/li&gt;
    &lt;li&gt;项目 2&lt;/li&gt;
    &lt;li&gt;项目 3&lt;/li&gt;
    &lt;li&gt;项目 4&lt;/li&gt;
    &lt;li&gt;项目 5&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
        </div>


        <div class="row" id="dropdown">
            <h2 class="header">下拉</h2>
            <p>下拉属性在确保jQuery插件运行.</p>
            <p>您可以在标签上设置属性，在该选项中匹配选项的名 <a href="http://materializecss.com/dropdown.html#!">物化的CS版本</a>.</p>
        </div>
        <div class="row">
            <div class="section col s4">
                <!-- 下拉触发 -->
                <a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
                    这是一个下拉
                </a>

                <!-- 下拉式结构 -->
                <ul id='demoDropdown' class='dropdown-content'>
                    <li><a href="javascript:void(0);">链接 1</a></li>
                    <li><a href="javascript:void(0);">链接 2</a></li>
                    <li><a href="javascript:void(0);">链接 3</a></li>
                    <li><a href="javascript:void(0);">链接 4</a></li>
                    <li><a href="javascript:void(0);">链接 5</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;!-- 下拉触发 --&gt;
&lt;a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true"&gt;
    这是一个下拉
&lt;/a&gt;

&lt;!-- 下拉式结构 --&gt;
&lt;ul id='demoDropdown' class='dropdown-content'&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;链接 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;链接 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;链接 3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;链接 4&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;链接 5&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
        </div>


        <!-- TODO：说清楚什么不同的选择呢，尤其是 'open' -->
        <div class="row" id="modals" ng-init="dummyInputs.modalInput = 'Modal header'" ng-controller="ModalController">
            <h2 class="header">模态</h2>
            <p>你需要一个模式触发，像下面。触发应该有模态指令，并href属性必须指向模态结构的ID。<br/>
            模态谢灵运的结构应 <a href="http://materializecss.com/modals.html">就像在物质化</a>. <br>
            在下面的例子中，您可以通过输入字段更改模式的头. </p>
            <!--触发模式 -->
            <div class="col">
                <a class='btn' href='#demoModal' modal ready="readyCallback" complete="completeCallback" open="openModal">显示模态</a>
            </div>
            <div input-field  class="col s4">
                <input type="text" ng-model="dummyInputs.modalInput">
                <label>模态头</label>
            </div>
            <div class="col s4">
                <a class='btn' ng-click="openModal = true">开放式控制器</a>
            </div>
            <!-- 模态的结构 -->
            <div id="demoModal" class="modal">
                <div class="modal-content">
                    <h4>{{dummyInputs.modalInput}}</h4>
                    <p>一堆文字</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">同意</a>
                </div>
            </div>
        </div>
        <div class="row">
                <pre><code class="language-markup" ng-non-bindable>&lt;!--触发模式 --&gt;
&lt;div class="col"&gt;
    &lt;a class='btn' href='#demoModal' modal&gt;显示 模态&lt;/a&gt;
&lt;/div&gt;
&lt;!--模态结构 --&gt;
&lt;div id="demoModal" class="modal"&gt;
    &lt;div class="modal-content"&gt;
        &lt;h4&gt;Modal header&lt;/h4&gt;
        &lt;p&gt;一堆文本&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
        &lt;a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"&gt;同意&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row">
          <h4>标签页</h4>
          <p>如果你要使用<a href="#tabs">标签</a> 在一个模式中，您将需要添加<code class="language-markup">enable-tabs</code> 属性到您的模态触发器.</p>
        </div>
        <div class="row">
          <pre><code class="language-markup" ng-non-bindable>&lt;!-- 触发模式 --&gt;
&lt;div class="col"&gt;
    &lt;a class='btn' href='#demoModal' enable-tabs="true" modal&gt;显示 模态&lt;/a&gt;
&lt;/div&gt;</code></pre>
        </div>



        <div class="row" id="parallax" ng-init="showParallax = true">
            <h2 class="header">视差</h2>
            <p>添加的视差属性可以确保 <a href="http://materializecss.com/parallax.html">jQuery插件实现</a> 在运行.</p>
            <p>它的工作原理就像下图显示的代码，并填充它被放在容器的整个宽度. </p>
            <a class="btn waves-effect waves-light" ng-click="showParallax = !showParallax">显示/隐藏下面视差</a>
        </div>
    </div>
    <div class="parallax-container" ng-if="showParallax" style="margin: 20px 0;">
        <div parallax><img src="http://2947721120.github.io/angular-materialize/images/parallax1.jpg"></div>
    </div>
    <div class="container">

        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;div class="parallax-container"&gt;
    &lt;div parallax&gt;&lt;img src="http://2947721120.github.io/angular-materialize/images/parallax1.jpg"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>



        <div class="row" id="scrollfire">
            <h2 class="header" scroll-fire="toast('Past scoll-fire', 2000)" offset="500">消防滚动</h2>
            <p>它曾表示，这个库主要是为兑现代码包装. <br/>这个指令是个例外，因为对于ScrollFire的兑现代码是胡扯（为0.97.5版本）. </p>
            <p>滚动火很简单，您可以设置一个属性 <code class="language-markup">scoll-fire</code> 一些属性，具有回调。而这个回调火灾当用户滚动过去的那个元素. <br />
           我们可以进一步设置 <code class="language-markup">offset</code>属性，使回调大火用户滚动一定量的像素超越元素之后.</p>
            <p>如果你看一下这个指令的来源，它是用来提醒邮件的用户滚动500像素过去的"ScrollFire"头之后。 <br/>
            而下面的代码显示了头上的源代码。这个例子需要 <code class="language-javascript">toast</code> 要在范围定义函数. </p>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;h2 class=&quot;header&quot; scroll-fire=&quot;toast('Past scoll-fire', 2000)&quot; offset=&quot;500&quot;&gt;ScrollFire&lt;/h2&gt;</code></pre>
        </div>


        <div class="row" id="sidenav">
            <h2 class="header">侧边导航</h2>
            <p>确保有与对应于自变量ID的侧面菜单 <code class="language-markup">data-activates</code>. </p>
            <p>如果您复制此页面上有页面，初始化第一顶另一边-Nav链接，因此设置的选项. </p>
            <p>如果您添加类 <code class="language-markup">button-collapse</code>当侧面菜单隐藏按钮，将只显示n.  <br/>
           这是不是在下面的按钮完成，用于演示目的，但它在代码示例添加.</p>
        </div>
        <div class="row">
            <a href="#" data-activates="nav-mobile" class="top-nav btn waves-effect waves-light" data-sidenav="left" data-closeonclick="false">
                显示侧边导航
            </a>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false"&gt;
   显示侧导航
&lt;/a&gt;</code></pre>
        </div>

        <div class="row" id="slider">
            <h2 class="header">滑块</h2>
            <p>一个非常简单的指令，这只是使滑块。只需添加属性<code class=" language-markup" data-language="markup">slider</code>,和滑块将被初始化. </p>
            <p>您可以选择设置更多的属性之一<code class=" language-markup" data-language="markup">height</code>, <code class=" language-markup" data-language="markup">transition</code>,
                <code class=" language-markup" data-language="markup">interval</code> 或 <code class=" language-markup" data-language="markup">indicators</code>, 和选项将被传递到滑块. <br />
                像这样: <code class=" language-markup" data-language="markup">&lt;div slider height='500' transition='400'&gt;&lt;/div&gt;</code></p>
        </div>
        <div class="row">
            <div slider>
                <ul class="slides">
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/1"> <!-- 随机图像 -->
                        <div class="caption center-align">
                            <h3>这是我们的大标语!</h3>
                            <h5 class="caption right-align">这是我们的小标语.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/2"> <!-- 随机图像 -->
                        <div class="caption left-align">
                            <h3>左对齐标题</h3>
                            <h5 class="light grey-text text-lighten-3">这是我们的小标语.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/3"> <!--随机图像 -->
                        <div class="caption right-align">
                            <h3>右对齐标题</h3>
                            <h5 class="light grey-text text-lighten-3"这是我们的小标语.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/4"> <!-- 随机图像 -->
                        <div class="caption center-align">
                            <h3>这是我们的大标语!</h3>
                            <h5 class="light grey-text text-lighten-3">这是我们的小标语.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;div class="slider" slider&gt;
    &lt;ul class="slides"&gt;
        &lt;li&gt;
            &lt;img src="http://lorempixel.com/580/250/nature/1"&gt; &lt;!-- random image --&gt;
            &lt;div class="caption center-align"&gt;
                &lt;h3&gt;这是我们的大标语!&lt;/h3&gt;
                &lt;h5 class="light grey-text text-lighten-3"&gt; 这是我们的小标语.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src="http://lorempixel.com/580/250/nature/2"&gt; &lt;!-- random image --&gt;
            &lt;div class="caption left-align"&gt;
                &lt;h3&gt;左对齐标题&lt;/h3&gt;
                &lt;h5 class="light grey-text text-lighten-3"&gt; 这是我们的小标语.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
                &lt;img src="http://lorempixel.com/580/250/nature/3"&gt; &lt;!-- random image --&gt;
                &lt;div class="caption right-align"&gt;
            &lt;h3&gt;右对齐标题&lt;/h3&gt;
            &lt;h5 class="light grey-text text-lighten-3"&gt; 这是我们的小标语.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src="http://lorempixel.com/580/250/nature/4"&gt; &lt;!-- random image --&gt;
            &lt;div class="caption center-align"&gt;
                &lt;h3&gt;这是我们的大标语!&lt;/h3&gt;
                &lt;h5 class="light grey-text text-lighten-3"&gt; 这是我们的小标语.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row" id="media">
            <h2 class="header">媒体</h2>
            <p class="caption">料箱自动初始化。但是，如果动态地添加图片，你将不得不添加此初始化代码.</p>
            <div class="material-placeholder"><img materialboxed class="materialboxed responsive-img " width="650" src="//2947721120.github.io/angular-materialize/images/sample-1.jpg"></div>
        </div>

        <div class="row">

            <p>创建具有效果上面的图片，只需添加一个类图片标记一样简单.</p>
            <pre><code class="language-markup" ng-non-bindable>
&lt;img materialboxed class="materialboxed responsive-img" width="650" src="//2947721120.github.io/angular-materialize/images/sample-1.jpg"&gt;
            </code></pre>
        </div>
        <div class="row">
            <h4>字幕</h4>
                <p>这是很容易在短期字幕添加到您的照片。只需添加标题为 <code class=" language-markup">data-caption</code> 属性.</p>
                <div class="material-placeholder"><img materialboxed class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="//2947721120.github.io/angular-materialize/images/nature_portrait_by_pw_fotografie-d63tx0n.jpg"></div>
        </div>
        <div class="row">

            <p>创建具有效果上面的图片，只需添加一个类图片标记一样简单.</p>
            <pre><code class="language-markup" ng-non-bindable>
&lt;img materialboxed class="materialboxed" data-caption="树木有的鹿吨的图片" width="250" src="//2947721120.github.io/angular-materialize/iamges/nature_portrait_by_pw_fotografie-d63tx0n.jpg"&gt;
            </code></pre>

        <div class="row" id="tabs" ng-init="showTabs = true">
            <h2 class="header">标签</h2>
          <p>这是一个非常简单的指令，只是调用当元素被初始化的jQuery插件。</P>
            <p>有关造型的工作，你仍然需要对类<code class="language-markup">tabs</code>  <code class="language-markup">ul</code> 标记</p>
            <p>由于简单实现的，不要指望NG-重复NG-模型或类似标签的UL内工作（应该里面的内容的工作，虽然）。</P>
            <a class="btn waves-effect waves-light" ng-click="showTabs=!showTabs">显示/隐藏选项卡下方</A>
        </div>
        <div class="row" ng-if="showTabs">
            <div class="col s12">
                <ul tabs>
                    <li class="tab col s3"><a href="#test1">测试 1</a></li>
                    <li class="tab col s3"><a class="active" href="#test2">测试 2</a></li>
                    <li class="tab col s3"><a href="#test3">测试 3</a></li>
                    <li class="tab col s3"><a href="#test4">测试 4</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">测试 1</div>
            <div id="test2" class="col s12">测试 2</div>
            <div id="test3" class="col s12">测试 3</div>
            <div id="test4" class="col s12">测试 4</div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div class="row" ng-if="showTabs"&gt;
    &lt;div class="col s12"&gt;
        &lt;ul tabs&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test1"&gt;测试 1&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a class="active" href="#test2"&gt;测试 2&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test3"&gt;测试 3&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test4"&gt;测试 4&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id="test1" class="col s12"&gt;测试 1&lt;/div&gt;
    &lt;div id="test2" class="col s12"&gt;测试 2&lt;/div&gt;
    &lt;div id="test3" class="col s12"&gt;测试 3&lt;/div&gt;
    &lt;div id="test4" class="col s12"&gt;测试 4&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row" id="pagination">
            <h2 class="header">分页</h2>
          <p>这是唯一的分页按钮，它没有做任何事情来改变页面。那你就必须在回调做</P>
            <p>在下面，改变页面是在控制器上定义的函数。 </P>
            <p>镨。默认情况下，上一个/下一个按钮，从图标被列入<a href="http://google.github.io/material-design-icons/">材质设计图标</a>的，这需要，像这样： <code class="language-markup">&lt;link href=&quot;https://font.c2cmalls.com/icon?family=Material+Icons&quot; rel=&quot;stylesheet&quot;&gt;</code> <br/>
            还可以设置选项 <code class="language-markup">use-simple-prev-next</code>的 false，在这种情况下，简单的“>”字符将被使用。
            </p>
        </div>
        <div class="row" ng-controller="PaginationController">
            <pagination
                page="1"
                page-size="10"
                total="200"
                show-prev-next="true"
                dots="...."
                use-simple-prev-next="false"
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)" />
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;pagination
    page="1"
    page-size="10"
    total="200"
    show-prev-next="true"
    use-simple-prev-next="false"
    dots="...."
    hide-if-empty="false"
    adjacent="2"
    scroll-top="false"
    pagination-action="changePage(page)" /&gt;</code></pre>
        </div>
    </div>

    </div>
</main>
</body>
</html>
